@{
    ViewData["Title"] = "Avaleht";
}

<div class="hero text-center">
    <h1>Tere tulemast</h1>
    <p>Tere tulemast skateparki appi leia enda asukoht ja asu teele head skatemist</p>
   
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card bg-dark text-white p-3">
            <h4>Funktsioon 1</h4>
            <p>Siia saad lisada sisu</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-dark text-white p-3">
            <h4>Funktsioon 2</h4>
            <p>Disaini plokk</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-dark text-white p-3">
            <h4>Funktsioon 3</h4>
            <p>UI komponent</p>
        </div>
    </div>
</div>